.option {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.option:hover {
  color: #ffe900;
}

.auth-link {
  position: relative;
  margin-left: 10px;
}

.activeOption {
  color: #ffe900;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 24px;
}
